# Global Bash #
alias c='clear'
alias lsa='ls -al'
alias lla='ll -al'
alias cd~='cd ~'
alias cd.='cd ..'
alias cd..='cd ../../'
alias cd...='cd ../../../'
alias vizsh='vim ~/.zshrc'
alias sozsh='source ~/.zshrc'
alias upzsh='upgrade_oh_my_zsh'
alias hs='history | grep'
alias mkcd='foo(){ mkdir -p "$1"; cd "$1" }; foo '
alias rmf='rm -rf'
alias apt:clean='sudo apt-get autoremove --purge && sudo apt-get clean'
alias cd:web='cd ~/projects/www && ll -al'
alias cd:vhosts='cd ~/.config/vhosts && ll -al'
alias v:hosts='sudo vim /etc/hosts'
alias www='cd $HOME/projects/www'

# Python
# alias python='python3'

# Git Command Alises #
alias g:i='git init'
alias g:s='git status'
alias g:a.='git add .'
alias g:aa='git add -All'
alias g:b='function _gbranch(){ git branch -$1 };_gbranch'
alias g:c='git clone'
alias g:cm='function _gcommit(){ git commit -m $1 };_gcommit'
alias g:co='git checkout'
alias g:mr='git merge'
alias g:ps='git push -u'
alias g:pl='git pull'
alias g:pull='git pull origin "$(git symbolic-ref --short HEAD)"'
alias g:push='git push origin "$(git symbolic-ref --short HEAD)"'

# NodeJs NPM #
alias node:v='node -v'
alias npm:v='npm -v'
alias npm:i='npm init'
alias npm:in='npm install'
alias npm:ud='npm update'
alias npm:dev='npm run dev'
alias npm:build='npm run build'
alias npm:build:s='npm run build-staging'
alias npm:build:p='npm run build-production'
alias npm:audit='npm audit fix'
alias npm:audit:f='npm audit fix --force'

# Docker
alias dc-c:b='docker-compose up -d --build -f'
# Must be run first because images are attached to containers
alias dc:rmc:all='docker rm -f $(docker ps -a -q)'
# Delete every Docker image
alias dc:rmi:all='docker rmi -f $(docker images -q)'

# Handling Service (start, stop, restart)
alias s:ls='sudo service --status-all'
alias s:php='function _sphp(){ sudo service php7.4-fpm $1 };_sphp'
alias s:nginx='function _snginx(){ sudo service nginx $1 };_snginx'
alias s:mydb='function _smydb(){ sudo service mysql $1 };_smydb'
alias s:postdb='function _spostdb(){ sudo service postgresql $1 };_spostdb'
alias s:web='checkDirMysqlSafe && function _sweb(){ s:php $1 && s:mydb $1 && s:nginx $1 };_sweb'

# PHP Composer
# alias com='composer'
alias com:v='composer -V'
alias com:i='composer init'
alias com:in='composer install'
alias com:ud='composer update'
alias com:ug='composer upgrade'
alias com:re='composer require'
alias com:re:d='composer require --dev'
alias com:rm='composer remove'
alias com:rm:d='composer remove --dev'

# Laravel
alias pa='php artisan'
alias pa:ls='pa list'
alias pa:s='pa serve'
alias pa:v='pa --version'

# Lumen
alias lumens='php -S localhost:8000 -t public'

# Create New Web Laravel/Lume
alias web:new='new_website_project'

# Fixing permission directories and files
alias fix:dir:file='fixing_directories_files'
alias fix:dir='fixing_directories'
alias fix:file='fixing_files'

# Setup docker
alias setup:docker='setup_docker'
alias setup:docker-compose='setup_docker_compose'
