# Global Bash #
alias c='clear'
alias lsa='ls -al'
alias lla='ll -al'
alias cd~='cd ~'
alias cd.='cd ..'
alias cd..='cd ../../'
alias cd...='cd ../../../'
alias vizsh='vim ~/.zshrc'
alias sozsh='source ~/.zshrc'
alias upzsh='upgrade_oh_my_zsh'
alias hs='history | grep'
alias mkcd='foo(){ mkdir -p "$1"; cd "$1" }; foo '
alias rmf='rm -rf'
alias apt:clean='sudo apt-get autoremove --purge && sudo apt-get clean'
alias cd:web='cd ~/projects/www && ll -al'
alias cd:vhosts='cd ~/.config/vhosts && ll -al'
alias v:hosts='sudo vim /etc/hosts'


# Python
# alias python='python3'

# Git Command Alises #
alias gi='git init'
alias gs='git status'
alias ga.='git add .'
alias gaa='git add -All'
alias gac='git add . && git commit -m'
alias gcm='git commit -m'
alias gcam='git commit -a -m'
alias gbr='git branch'
alias gbra='git branch -a'
alias gbrr='git branch -r'
alias gco='git checkout'
alias gmr='git merge'
alias gps='git push -u'
alias gpl='git pull'
alias gcl='git clone'
alias ggpull='git pull origin "$(git symbolic-ref --short HEAD)"'
alias ggpush='git push origin "$(git symbolic-ref --short HEAD)"'

# NodeJs NPM #
alias npmrb='npm run build'
alias npmrbs='npm run build-staging'

# Docker
alias dcr='docker-compose up -d --build -f'
# Must be run first because images are attached to containers
alias drmc='docker rm -f $(docker ps -a -q)'
# Delete every Docker image
alias drmi='docker rmi -f $(docker images -q)'

# Handling Service
alias s:php:start='sudo service php7.4-fpm start'
alias s:php:restart='sudo service php7.4-fpm restart'
alias s:php:stop='sudo service php7.4-fpm stop'
alias s:nginx:start='sudo service nginx start'
alias s:nginx:restart='sudo service nginx restart'
alias s:nginx:stop='sudo service nginx stop'
alias s:mydb:start='sudo service mysql start'
alias s:mydb:restart='sudo service mysql restart'
alias s:mydb:stopp='sudo service mysql stop'
alias s:podb:start='sudo service postgresql start'
alias s:podb:restart='sudo service postgresql restart'
alias s:podb:stop='sudo service postgresql stop'
alias s:ls='sudo service --status-all'
alias s:web:start='s:php:start && s:mydb:start && s:nginx:start'
alias s:web:stop='s:php:stop && s:mydb:stop && s:nginx:stop'
alias s:web:restart='s:php:restart && s:mydb:restart && s:nginx:restart'

# Laravel 
alias pa='php artisan'
alias pas='pa serve'

# Lumen
alias lumens='php -S localhost:8000 -t public'
