# Global Bash #
alias c='clear'
alias lsa='ls -al'
alias lla='ll -al'
alias cd~='cd ~'
alias cd.='cd ..'
alias cd..='cd ../../'
alias cd...='cd ../../../'
alias vizsh='vim ~/.zshrc'
alias sozsh='source ~/.zshrc'
alias upzsh='upgrade_oh_my_zsh'
alias hs='history | grep'
alias mkcd='foo(){ mkdir -p "$1"; cd "$1" }; foo '
alias rmf='rm -rf'
alias apt:clean='sudo apt-get autoremove --purge && sudo apt-get clean'
alias cd:web='cd ~/projects/www && ll -al'
alias cd:vhosts='cd ~/.config/vhosts && ll -al'
alias v:hosts='sudo vim /etc/hosts'


# Python
# alias python='python3'

# Git Command Alises #
alias gi='git init'
alias gs='git status'
alias ga.='git add .'
alias gaa='git add -All'
alias gac='git add . && git commit -m'
alias gcm='git commit -m'
alias gcam='git commit -a -m'
alias gbr='git branch'
alias gbra='git branch -a'
alias gbrr='git branch -r'
alias gco='git checkout'
alias gmr='git merge'
alias gps='git push -u'
alias gpl='git pull'
alias gcl='git clone'
alias ggpull='git pull origin "$(git symbolic-ref --short HEAD)"'
alias ggpush='git push origin "$(git symbolic-ref --short HEAD)"'

# NodeJs NPM #
alias npmrb='npm run build'
alias npmrbs='npm run build-staging'

# Docker
alias dcr='docker-compose up -d --build -f'
# Must be run first because images are attached to containers
alias drmc='docker rm -f $(docker ps -a -q)'
# Delete every Docker image
alias drmi='docker rmi -f $(docker images -q)'

# Handling Service (start, stop, restart)
alias s:ls='sudo service --status-all'
alias s:php='function _sphp(){ sudo service php7.4-fpm $1 };_sphp'
alias s:nginx='function _snginx(){ sudo service nginx $1 };_snginx'
alias s:mydb='function _smydb(){ sudo service mysql $1 };_smydb'
alias s:postdb='function _spostdb(){ sudo service postgresql $1 };_spostdb'
alias s:web='function _sweb(){ s:php $1 && s:mydb $1 && s:nginx $1 };_sweb'

# Laravel 
alias pa='php artisan'
alias pas='pa serve'

# Lumen
alias lumens='php -S localhost:8000 -t public'
