#!/bin/bash

local envFile=${1:-$HOME/.config/.env}

if [ -f $envFile ]; then
  while IFS='=' read -r key temp || [ -n "$key" ]; do
    local isComment='^[[:space:]]*#'
    local isBlank='^[[:space:]]*$'
    [[ $key =~ $isComment ]] && continue
    [[ $key =~ $isBlank ]] && continue
    value=$(eval echo "$temp")
    eval export "$key='$value'";
  done < $envFile
else
  echo "No $envFile file found" 1>&2
fi

log() {
  echo -e "${NAMI_DEBUG:+${CYAN}${MODULE} ${MAGENTA}$(date "+%T.%2N ")}${RESET}${@}" >&2
}

info() {
  log "${GREEN}INFO ${RESET} ==> ${@}"
}

warn() {
  log "${YELLOW}WARN ${RESET} ==> ${@}"
}

error() {
  log "${RED}ERROR${RESET} ==> ${@}"
}

print_welcome_page() {
  if [ -z "$DISABLE_WELCOME_MESSAGE" ]; then
    if [ -n "$ASAP_APP_NAME" ]; then
      print_image_welcome_page
    fi
  fi
}

# Prints the welcome page for this Bitnami Docker image
print_image_welcome_page() {
  # log ""
  log "${BOLD}${RED}|>|>|>${RESET} ${GREEN}Welcome to the ${BOLD}${GREEN}${ASAP_APP_NAME}${RESET} ${GREEN}command${RESET} ${BOLD}${RED}<|<|<|${RESET}"
  # log "${BOLD}${RED}|>${RESET} ${GREEN}Terminal command on the MacOS Catalina${RESET}"
  # log ""
}

checkDirMysqlSafe() {
    ### Check if a directory does not exist ###
    if [ ! -d "/var/run/mysqld" ]
    then
        # echo "Directory /path/to/dir DOES NOT exists."
        sudo mkdir -p /var/run/mysqld
        sudo chown mysql:mysql /var/run/mysqld
    fi
}

new_website_project() {
  if [[ ( $1 == "--help") ||  $1 == "-h" ]]
	then
    info "Create project use Laravel or Lumen."
    info "Syntax: web:new -[h]"
    info "Follow the convention and select option which framework do you use."
    info "options: 1. Laravel or 2. Lumen"
    info "Print this Help."
  else
    new_site
  fi
}

create_nginx_virtual_host() {
cat > ${NGINX_VHOST_LOCATION}/$2 <<EOF
server {
    listen 80;
    listen [::]:80;

    server_name $2.${TLD_DOMAIN};
    set \$base ${PROJECT_LOCATION}/$1;
    root \$base/public;

    index index.php index.html index.htm;

    location / {
        try_files \$uri \$uri/ /index.php?\$query_string;
    }

    error_page 404 /index.php;

    location ~ \.php$ {
        include snippets/php_fastcgi.conf;
    }

    # additional config
    include snippets/general.conf;

    location ~ /\.(?!well-known).* {
        deny all;
    }
}
EOF
}

laravel_project() {
     laravel new ${PROJECT_LOCATION}/$1
     fixing_directories_files ${PROJECT_LOCATION}/$1
}

lumen_project() {
    lumen new ${PROJECT_LOCATION}/$1
    fixing_directories_files ${PROJECT_LOCATION}/$1
}

fixing_directories_files() {
  info "Fixing directories permission on $1"
  find $1 -type d -exec chmod 775 {} \;
  info "Fixing files permission on $1"
  find $1 -type f -exec chmod 644 {} \;
  info "Done..."
}

fixing_directories() {
  info "Fixing directories permission on $1"
  find $1 -type d -exec chmod 775 {} \;
  info "Done..."
}

fixing_files() {
  info "Fixing files permission on $1"
  find $1 -type f -exec chmod 644 {} \;
  info "Done..."
}

new_site() {
  PS3="Which PHP framework do you want use? "
  select opt in Laravel Lumen
  do
    case $opt in
      Laravel)
        php_framework "laravel";
        break;;
      Lumen)
        php_framework "lumen";
        break;;
      quit)
        break;;
      *)
        error "Invalid option $REPLY";;
    esac
  done
}

php_framework() {
   echo -n "Enter project directory name: "
  read project_dir
  echo -n "Enter project virtual host for Nginx: "
  read project_host

  if [ ! -z "$project_dir" ] && [ ! -z "$project_host" ]
  then
    info "** Create new ${1^} project ${project_dir}"
    $1_project ${project_dir}
    info "** Create virtual host ${BOLD}${project_host}.${TLD_DOMAIN}${RESET}"
    create_nginx_virtual_host ${project_dir} ${project_host}
    info "** Append dns ${BOLD}${project_host}.${TLD_DOMAIN}${RESET} to hosts for local user"
    echo "127.0.0.1   ${project_host}.${TLD_DOMAIN}" | sudo tee -a /etc/hosts >/dev/null
    # info "** Reload Nginx service"
    # nginx -s reload
    info "Done... and you can try to access on browser with url: ${BOLD}${project_host}.${TLD_DOMAIN}${RESET}"
    info "Project location ${PROJECT_LOCATION}/${project_dir}"
  else
    warn "** Please check your input project diectory and vhost."
  fi
}

new_website_project() {
  if [[ ( $1 == "--help") ||  $1 == "-h" ]]
  then
    info "Create project use Laravel or Lumen."
    info "Syntax: web:new -[h]"
    info "Follow the convention and select option which framework do you use."
    info "options: 1. Laravel or 2. Lumen"
    info "Print this Help."
  else
    new_site
  fi
}

new_site() {
  PS3="Which PHP framework do you want use? "
  select opt in Laravel Lumen
  do
    case $opt in
      Laravel)
        php_framework "laravel";
        break;;
      Lumen)
        php_framework "lumen";
        break;;
      quit)
        break;;
      *)
        error "Invalid option $REPLY";;
    esac
  done
}

setup_docker() {
  info "Setup Docker for WSL"
  # Update the apt package list.
  sudo apt-get update -y

  # Install Docker's package dependencies.
  sudo apt-get install -y \
      apt-transport-https \
      ca-certificates \
      curl \
      software-properties-common

  # Download and add Docker's official public PGP key.
  curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -

  # Verify the fingerprint.
  sudo apt-key fingerprint 0EBFCD88

  # Add the `stable` channel's Docker upstream repository.
  #
  # If you want to live on the edge, you can change "stable" below to "test" or
  # "nightly". I highly recommend sticking with stable!
  sudo add-apt-repository \
    "deb [arch=amd64] https://download.docker.com/linux/ubuntu \
    $(lsb_release -cs) \
    stable"

  # Update the apt package list (for the new apt repo).
  sudo apt-get update -y

  # Install the latest version of Docker CE.
  sudo apt-get install -y docker-ce

  # Allow your user to access the Docker CLI without needing root access.
  sudo usermod -aG docker $USER

  info "Configuration..."
  if [ -f "~/.zshrc" ]
  then
    info "** Connect to a remote Docker daemon on .zshrc"
    echo "export DOCKER_HOST=tcp://localhost:2375" | sudo tee -a ~/.zshrc >/dev/null
    info "reload .zshrc"
    source ~/.zshrc
  else
    info "** Connect to a remote Docker daemon on .bashrc"
    echo "export DOCKER_HOST=tcp://localhost:2375" | sudo tee -a ~/.bashrc >/dev/null
    info "reload .bashrc"
    source ~/.bashrc
  fi
  info "Done..."
}

setup_docker_compose() {
  info "Setup Docker-compose for WSL"
  # Install Python and PIP.
  sudo apt-get install -y python python-pip

  # Install Docker Compose into your user's home directory.
  pip install --user docker-compose

  info "Configuration..."
  if [[ -f "$HOME/.local/bin/docker-compose" && -x "$HOME/.local/bin/docker-compose" ]]
  then
    info "** Connect to a remote Docker daemon on .zshrc"
    echo "export PATH=$HOME/.local/bin:$PATH" | sudo tee -a ~/.zshrc >/dev/null
    info "reload .zshrc"
    source ~/.zshrc
  else
    info "** Connect to a remote Docker daemon on .bashrc"
    echo "export PATH=$HOME/.local/bin:$PATH" | sudo tee -a ~/.bashrc >/dev/null
    info "reload .bashrc"
    source ~/.bashrc
  fi
  info "Done..."
}
